.better-sqlite3-symlink-target
.stage/**
scripts/**
src/**
tsconfig.json
tsconfig.*.json
vitest.config.ts
esbuild.mjs
.turbo/**
**/*.map
**/*.tsbuildinfo
node_modules/**
!node_modules/better-sqlite3/**
!node_modules/better-sqlite3/build/Release/*.node
node_modules/better-sqlite3/build/Debug/**
node_modules/better-sqlite3/build/Release/obj/**
node_modules/better-sqlite3/build/Release/obj.target/**
node_modules/better-sqlite3/build/Release/*.a
node_modules/better-sqlite3/deps/**
node_modules/better-sqlite3/src/**
node_modules/better-sqlite3/docs/**
node_modules/better-sqlite3/test/**
node_modules/better-sqlite3/.github/**